.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: #271791;
}
.input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.input:focus {
  outline: solid 1px var(--color-main_1);
  border-radius: 10px;
}
.input-focus {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
}
.input-title {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.form-start-studying {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 380px;
  max-width: 100%;
  background-color: #fff;
  padding: 20px 26px;
  border-radius: 12px;
}
.form-start-studying__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.form-start-studying__title {
  font-family: var(--font-main_1);
  font-size: 28px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.02em;
}
.form-start-studying__sub-title {
  margin-top: 8px;
  font-family: var(--font-main_1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.01em;
}
.form-start-studying__wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
}
.form-start-studying__wrapper-input:first-of-type {
  margin-top: 29px;
}
.form-start-studying__text {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.form-start-studying__input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.form-start-studying__input:focus {
  outline: solid 1px var(--color-main_1);
  border-radius: 10px;
}
.form-start-studying__input:focus + .form-start-studying__text,
.form-start-studying__input.focus + .form-start-studying__text {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.form-start-studying__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 22px;
  height: 50px;
  width: 100%;
}
.form-start-studying__button:hover {
  background-color: #271791;
}
.form-start-studying__privacy-policy {
  justify-self: center;
  margin-top: 60px;
  max-width: 238px;
  font-family: var(--font-main_1);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}
.form-start-studying__link {
  color: var(--color-main_1);
}
