.header-nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-self: center;
  gap: 35px;
}
@media (max-width: 680px) {
  .header-nav-menu {
    display: none;
    grid-template-columns: 1fr;
    gap: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: #fff;
    padding: 20px 0 60px 0;
    border-radius: 0 0 16px 16px;
    width: 100%;
    box-shadow: 0 8px 60px 0px rgba(0, 0, 0, 0.05);
  }
}
@media (max-width: 680px) {
  .header-nav-menu__item {
    display: flex;
    justify-content: center;
  }
}
.header-nav-menu__item:nth-child(2) {
  position: relative;
}
.header-nav-menu__item:first-child,
.header-nav-menu__item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-nav-menu__item:first-child::after,
.header-nav-menu__item:nth-child(2)::after {
  content: '';
  width: 8px;
  height: 6px;
  background-image: url('../icon/arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav-menu__item.open:nth-child(2)::after {
  transform: rotate(180deg);
}
.header-nav-menu__text {
  font-family: var(--font-main_1);
  color: var(--color-main_2);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
}
.header-nav-menu__text:hover {
  color: var(--color-main_1);
}
.header-nav-menu.open {
  display: grid;
}
