.javaScript-courses-list {
  position: absolute;
  bottom: 0;
  display: none;
  grid-template-columns: 1fr;
  gap: 13px;
  width: 197px;
  border-radius: 6px;
  padding: 14px 15px;
  background-color: #fff;
  transform: translateY(calc(100% + 10px));
}
.javaScript-courses-list__item {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-main_2);
  font-family: var(--font-main_1);
}
@media (max-width: 670px) {
  .javaScript-courses-list {
    box-shadow: 0 8px 48px 0px rgba(0, 0, 0, 0.12);
  }
}
.javaScript-courses-list.open {
  display: grid;
}
