@import url('../css/fonts/fonts.css');
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}
:root {
  --color-main_1: #2D1AA7;
  --color-main_2: #202326;
  --color-main_3: #777;
  --font-main_1: 'Onest';
  --transition: 0.2s;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #F8F8FA;
}
.wrapper-main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 778px;
  padding: 0 20px;
  margin: 0 auto;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: #271791;
}
.input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.input:focus {
  outline: solid 1px var(--color-main_1);
}
.input-focus {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
}
.input-title {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transition: box-shadow 0.2s;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #F8F8FA;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  padding: 10px 0;
  font-weight: 500;
}
.header__button:hover {
  background-color: #271791;
}
@media (max-width: 680px) {
  .header__button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 68px);
    transform: translateY(calc(100% + 168px));
    padding: 10px 15px;
  }
}
.header__button.open {
  display: flex;
}
.header__sandwich {
  display: none;
}
@media (max-width: 680px) {
  .header__sandwich {
    display: inline-block;
  }
}
.container-header {
  position: relative;
  display: grid;
  grid-template-columns: 104px 1fr 145px;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  height: 40px;
}
@media (max-width: 680px) {
  .container-header {
    grid-template-columns: 1fr 20px;
  }
}
.header.scroll {
  box-shadow: 0 8px 60px 0px rgba(0, 0, 0, 0.07);
}
.header-nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-self: center;
  gap: 35px;
}
@media (max-width: 680px) {
  .header-nav-menu {
    display: none;
    grid-template-columns: 1fr;
    gap: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: #fff;
    padding: 20px 0 60px 0;
    border-radius: 0 0 16px 16px;
    left: 20px;
    right: 20px;
    width: 100%;
    box-shadow: 0 8px 60px 0px rgba(0, 0, 0, 0.07);
  }
}
@media (max-width: 680px) {
  .header-nav-menu__item {
    display: flex;
    justify-content: center;
  }
}
.header-nav-menu__item:nth-child(2) {
  position: relative;
}
.header-nav-menu__item:first-child,
.header-nav-menu__item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-nav-menu__item:first-child::after,
.header-nav-menu__item:nth-child(2)::after {
  content: '';
  width: 8px;
  height: 6px;
  background-image: url('../icon/arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav-menu__item.open:nth-child(2)::after {
  transform: rotate(180deg);
}
.header-nav-menu__text {
  font-family: var(--font-main_1);
  color: var(--color-main_2);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
}
.header-nav-menu__text:hover {
  color: var(--color-main_1);
}
.header-nav-menu.open {
  display: grid;
}
.javaScript-courses-list {
  position: absolute;
  bottom: 0;
  display: none;
  grid-template-columns: 1fr;
  gap: 13px;
  width: 197px;
  border-radius: 6px;
  padding: 14px 15px;
  background-color: #fff;
  transform: translateY(calc(100% + 10px));
}
.javaScript-courses-list__item {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-main_2);
  font-family: var(--font-main_1);
}
@media (max-width: 680px) {
  .javaScript-courses-list {
    box-shadow: 0 8px 48px 0px rgba(0, 0, 0, 0.12);
  }
}
.javaScript-courses-list.open {
  display: grid;
}
.path-js {
  margin-top: clamp(47px, 7vw, 137px);
}
.path-js__title {
  grid-area: title;
  font-family: var(--font-main_1);
  font-size: clamp(34px, 5vw, 52px);
  line-height: clamp(37px, 5vw, 55px);
  font-weight: 600;
  letter-spacing: -0.02em;
}
.path-js__text {
  grid-area: text;
  margin-top: 3px;
  font-family: var(--font-main_1);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_2);
}
@media (max-width: 800px) {
  .path-js__text {
    margin-top: 11px;
  }
}
.path-js__line {
  border-bottom: solid 2px #ECECF3;
  padding-bottom: clamp(50px, 6vw, 80px);
}
@media (max-width: 800px) {
  .path-js__line {
    display: none;
  }
}
.container-path-js {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'title' 'path-js-books' 'text';
}
@media (max-width: 800px) {
  .container-path-js {
    grid-template-areas: 'title' 'text' 'path-js-books';
  }
}
.server-js {
  margin-top: 25px;
}
.server-js__title {
  grid-column: 1 / span 2;
  grid-area: title;
  font-family: var(--font-main_1);
  font-size: clamp(22px, 2vw, 28px);
  line-height: clamp(25px, 2vw, 31px);
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
}
.server-js__img {
  grid-area: img;
}
.server-js__description {
  grid-area: description;
  font-family: var(--font-main_1);
  font-size: clamp(18px, 2vw, 22px);
  line-height: clamp(21px, 2vw, 25px);
  font-weight: 400;
  color: var(--color-main_2);
}
.server-js__author {
  grid-area: author;
  margin-top: -4px;
  font-family: var(--font-main_1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--color-main_3);
}
@media (max-width: 780px) {
  .server-js__author {
    font-size: 15px;
  }
}
.server-js-container {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: 38px 1fr;
  grid-template-areas: 'title title' 'img description' 'img author';
  padding-bottom: clamp(50px, 6vw, 80px);
}
@media (max-width: 780px) {
  .server-js-container {
    gap: 16px;
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'img' 'description' 'author';
  }
}
.path-js-date {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 100px;
  padding: 22px 28px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.9);
}
.path-js-date__number {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(8px);
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
}
.path-js-date__number::after {
  content: '';
  background-image: url('/src/public/icon/arrow-right.svg');
  background-repeat: no-repeat;
  width: 6px;
  height: 7px;
}
.path-js-date__month,
.path-js-date__number {
  font-family: var(--font-main_1);
  font-weight: 500;
}
.path-js-books {
  grid-area: path-js-books;
  margin-top: clamp(21px, 3vw, 37px);
  overflow-x: auto;
  padding-bottom: 17px;
}
.path-js-books__wrapper-img {
  position: relative;
}
.path-js-books::-webkit-scrollbar-thumb {
  background-color: var(--color-main_1);
  border-radius: 7px;
}
.path-js-books::-webkit-scrollbar {
  height: 5px;
}
.path-js-books::-webkit-scrollbar-track {
  background-color: #ECECF3;
  border-radius: 7px;
}
.banner {
  background-color: #F1F1F3;
  padding-top: clamp(20px, 6vw, 60px);
  padding-bottom: clamp(44px, 6vw, 73px);
}
.banner picture {
  font-size: 0;
}
.banner__text,
.banner__link {
  margin-top: 13px;
  font-family: var(--font-main_1);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.banner__link {
  color: var(--color-main_1);
  text-decoration: underline;
}
.container-banner {
  display: grid;
  grid-template-columns: 1fr;
}
.conclusion {
  background-color: #fff;
  padding-top: clamp(30px, 6vw, 50px);
  padding-bottom: clamp(50px, 6vw, 80px);
}
.conclusion__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
  font-size: clamp(22px, 2vw, 28px);
  line-height: clamp(25px, 2vw, 31px);
  font-family: var(--font-main_1);
}
.conclusion__description {
  font-family: var(--font-main_1);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
@media (max-width: 780px) {
  .conclusion__description {
    font-size: 14px;
    line-height: 21px;
  }
}
.conclusion-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(9px, 2vw, 16px);
}
.review {
  background-color: #F1F1F3;
}
.review__title {
  font-size: clamp(28px, 3vw, 40px);
  line-height: clamp(31px, 3vw, 43px);
  font-family: var(--font-main_1);
  font-weight: 500;
  letter-spacing: -0.02em;
}
.container-review {
  padding-top: clamp(22px, 7vw, 53px);
  padding-bottom: clamp(50px, 7vw, 88px);
}
.article-evaluation {
  display: grid;
  grid-template-columns: 18px 1fr;
  gap: 12px 8px;
  grid-template-areas: 'title title' 'number rating';
  margin-top: 37px;
}
.article-evaluation__title {
  grid-area: title;
  font-family: var(--font-main_1);
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-main_2);
}
.article-evaluation__number {
  grid-area: number;
  font-family: var(--font-main_1);
  font-size: 28px;
  line-height: 31px;
  font-weight: 500;
  color: var(--color-main_2);
}
.article-evaluation-rating {
  grid-area: rating;
  display: flex;
  gap: 5px;
}
.article-evaluation-rating__item {
  background-image: url('/src/public/icon/star-gray.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 23px;
}
.article-evaluation-rating__item.active {
  background-image: url('/src/public/icon/star-yellow.svg');
}
.form-review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'title title title' 'wrapper-input_1 wrapper-input_2 select-book' 'wrapper-input_3 wrapper-input_3 wrapper-input_3' 'button button button';
  gap: 12px;
  margin-top: clamp(28px, 5vw, 46px);
}
@media (max-width: 780px) {
  .form-review {
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'wrapper-input_1' 'wrapper-input_2' 'select-book' 'wrapper-input_3' 'button';
  }
}
.form-review__title {
  grid-area: title;
  font-family: var(--font-main_1);
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.form-review__wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
  margin-top: 0;
}
.form-review__wrapper-input::first-of-type {
  grid-area: wrapper-input_1;
}
.form-review__wrapper-input:nth-of-type(2) {
  grid-area: wrapper-input_2;
}
.form-review__wrapper-input:nth-of-type(3) {
  grid-area: wrapper-input_3;
  height: 146px;
}
@media (max-width: 780px) {
  .form-review__wrapper-input:nth-of-type(3) {
    height: 280px;
  }
}
.form-review__wrapper-input:nth-of-type(3) .form-review__text {
  top: calc(17% - 8px);
}
@media (max-width: 780px) {
  .form-review__wrapper-input:nth-of-type(3) .form-review__text {
    top: calc(8% - 8px);
  }
}
.form-review__wrapper-input:nth-of-type(3) .form-review__input {
  padding: 20px 15px;
  resize: none;
}
.form-review__wrapper-input:nth-of-type(3) .form-review__input:focus + .form-review__text,
.form-review__wrapper-input:nth-of-type(3) .form-review__input.focus + .form-review__text {
  top: calc(10% - 8px);
}
@media (max-width: 780px) {
  .form-review__wrapper-input:nth-of-type(3) .form-review__input:focus + .form-review__text,
  .form-review__wrapper-input:nth-of-type(3) .form-review__input.focus + .form-review__text {
    top: calc(5% - 8px);
  }
}
.form-review__text {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.form-review__input:focus + .form-review__text,
.form-review__input.focus + .form-review__text {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.form-review__input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.form-review__input:focus {
  outline: solid 1px var(--color-main_1);
}
.form-review__button {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  justify-self: start;
  padding: 17px 30px;
}
.form-review__button:hover {
  background-color: #271791;
}
.books {
  grid-area: select-book;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
}
.books__item {
  padding-right: 28px;
  height: 48px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.books__item:not(:first-child)::placeholder {
  font-family: var(--font-main_1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
}
.books .select-book {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-family: var(--font-main_1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
  cursor: pointer;
  transition: var(--transition);
  overflow: inherit;
  border-radius: 12px;
  border: 1px #EDEDF1;
}
.books .select-book__type {
  font-family: var(--font-main_1);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-main_3);
}
.books .select-book .select-book-list {
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 6px;
  transition: var(--transition);
  opacity: 0;
  box-shadow: 0 8px 60px 0px rgba(0, 0, 0, 0.07);
  transform: translateY(calc(100% + 5px));
}
.books .select-book .select-book-list::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border-radius: 3px;
}
.books .select-book .select-book-list::-webkit-scrollbar {
  width: 7px;
  height: 53px;
}
.books .select-book .select-book-list::-webkit-scrollbar-track {
  background-color: #3D4050;
  border-radius: 3px;
}
.books .select-book .select-book-list__option {
  position: relative;
  display: flex;
  align-items: center;
  font-family: var(--font-main_1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
  padding: 0 17px;
  color: var(--color-main_1);
  height: 45px;
  transition: var(--transition);
  color: var(--color-main_2);
  cursor: pointer;
}
.books .select-book .select-book-list__option::before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 7px;
  height: 100%;
  margin-right: 10px;
  background-color: var(--color-main_1);
  opacity: 0;
  transition: var(--transition);
}
@media (max-width: 600px) {
  .books .select-book .select-book-list__option {
    font-size: 15px;
    line-height: 18px;
  }
}
.books .select-book .select-book-list__option:hover {
  background-color: #F1F1F3;
}
.books .select-book .select-book-list__option:hover::before {
  opacity: 1;
}
.books .select-book .select-book-list__option.active {
  background-color: #F1F1F3;
}
.books .select-book .select-book-list__option.active::before {
  opacity: 1;
}
.books .select-book::after {
  content: '';
  position: absolute;
  right: 16px;
  top: calc(50% - 5px);
  display: inline-block;
  height: 5px;
  width: 5px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(135deg);
  transition: var(--transition);
}
.books .select-book.active {
  outline: solid 1px var(--color-main_1);
  z-index: 0;
}
.books .select-book.active .select-book-list {
  opacity: 1;
}
.books .select-book.active::after {
  content: '';
  transform: rotate(-45deg);
}
.footer__title {
  font-size: clamp(28px, 5vw, 40px);
  line-height: clamp(31px, 5vw, 43px);
  font-family: var(--font-main_1);
  color: var(--color-main_2);
  font-weight: 500;
}
.container-footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  padding-top: clamp(30px, 7vw, 60px);
  padding-bottom: clamp(33px, 7vw, 63px);
}
@media (max-width: 500px) {
  .container-footer {
    gap: 18px;
  }
}
.posts-list-wrapper::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 500px) {
  .posts-list-wrapper {
    justify-self: center;
    max-width: 280px;
    overflow: auto;
  }
}
.posts-switch-slider {
  display: none;
  align-items: center;
  gap: 20px;
  justify-self: center;
}
@media (max-width: 500px) {
  .posts-switch-slider {
    display: flex;
  }
}
.posts-switch-slider__item {
  width: 10px;
  height: 10px;
  background-color: #ECECF3;
  border-radius: 50%;
  cursor: pointer;
}
.posts-switch-slider__item.active {
  width: 15px;
  height: 15px;
  background-color: var(--color-main_1);
}
.posts-list {
  display: grid;
  gap: 30px;
  transition: 0.4s;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 30px), auto));
}
@media (max-width: 500px) {
  .posts-list {
    grid-template-columns: repeat(3, minmax(280px, auto));
  }
}
.posts-list-item {
  display: grid;
  grid-template-columns: 1fr;
}
.posts-list-item__wrapper {
  border-radius: 16px;
}
.posts-list-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.posts-list-item__date {
  margin-top: 12px;
  font-family: var(--font-main_1);
  color: var(--color-main_3);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.posts-list-item__name {
  margin-top: 7px;
  font-family: var(--font-main_1);
  color: var(--color-main_2);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.form-start-studying {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 380px;
  max-width: 100%;
  background-color: #fff;
  padding: 20px 26px;
  border-radius: 12px;
}
.form-start-studying__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.form-start-studying__title {
  font-family: var(--font-main_1);
  font-size: 28px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.02em;
}
.form-start-studying__sub-title {
  margin-top: 8px;
  font-family: var(--font-main_1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.01em;
}
.form-start-studying__wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
}
.form-start-studying__wrapper-input:first-of-type {
  margin-top: 29px;
}
.form-start-studying__text {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.form-start-studying__input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.form-start-studying__input:focus {
  outline: solid 1px var(--color-main_1);
}
.form-start-studying__input:focus + .form-start-studying__text,
.form-start-studying__input.focus + .form-start-studying__text {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.form-start-studying__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 22px;
  height: 50px;
  width: 100%;
}
.form-start-studying__button:hover {
  background-color: #271791;
}
.form-start-studying__privacy-policy {
  justify-self: center;
  margin-top: 60px;
  max-width: 238px;
  font-family: var(--font-main_1);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}
.form-start-studying__link {
  color: var(--color-main_1);
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity ease-in-out 0.3s;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 35, 2, 0.7);
  z-index: 9999999;
}
.container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
