.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: #271791;
}
.input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.input:focus {
  outline: solid 1px var(--color-main_1);
  border-radius: 10px;
}
.input-focus {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
}
.input-title {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity ease-in-out 0.3s;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 35, 2, 0.7);
  z-index: 9999999;
}
.container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
