.path-js-books {
  grid-area: path-js-books;
  margin-top: clamp(21px, 3vw, 37px);
  overflow-x: auto;
  padding-bottom: 17px;
}
.path-js-books__wrapper-img {
  position: relative;
}
.path-js-books__wrapper-img::before {
  content: '';
  position: absolute;
  background-image: url('/src/public/icon/triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 4px;
  left: 77px;
  width: 18px;
  height: 13px;
}
@media (max-width: 800px) {
  .path-js-books__wrapper-img::before {
    display: none;
  }
}
.path-js-books::-webkit-scrollbar-thumb {
  background-color: var(--color-main_1);
  border-radius: 7px;
}
.path-js-books::-webkit-scrollbar {
  height: 5px;
}
.path-js-books::-webkit-scrollbar-track {
  background-color: #ECECF3;
  border-radius: 7px;
}
