.path-js-date {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 100px;
  padding: 22px 28px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.9);
}
.path-js-date__number {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(8px);
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
}
.path-js-date__number::after {
  content: '';
  background-image: url('/src/public/icon/arrow-right.svg');
  background-repeat: no-repeat;
  width: 6px;
  height: 7px;
}
.path-js-date__month,
.path-js-date__number {
  font-family: var(--font-main_1);
  font-weight: 500;
}
