.posts-switch-slider {
  display: none;
  align-items: center;
  gap: 20px;
  justify-self: center;
}
@media (max-width: 500px) {
  .posts-switch-slider {
    display: flex;
  }
}
.posts-switch-slider__item {
  width: 10px;
  height: 10px;
  background-color: #ECECF3;
  border-radius: 50%;
  cursor: pointer;
}
.posts-switch-slider__item.active {
  width: 15px;
  height: 15px;
  background-color: var(--color-main_1);
}
