.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-main_1);
  background-color: var(--color-main_1);
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: #271791;
}
.input {
  padding: 0 15px;
  border-radius: 10px;
  border: solid 1px #EDEDF1;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-main_2);
  height: 100%;
  width: 100%;
  font-family: var(--font-main_2);
}
.input:focus {
  outline: solid 1px var(--color-main_1);
}
.input-focus {
  top: calc(30% - 10px);
  color: var(--color-main_3);
  font-family: Onest;
  font-size: 9px;
  line-height: 12px;
}
.wrapper-input {
  position: relative;
  height: 50px;
  border-radius: 12px;
  border: 1px #EDEDF1;
  margin-top: 12px;
}
.input-title {
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  font-family: var(--font-main_2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-main_3);
  transition: var(--transition);
}
.review {
  background-color: #F1F1F3;
}
.review__title {
  font-size: clamp(28px, 3vw, 40px);
  line-height: clamp(31px, 3vw, 43px);
  font-family: var(--font-main_1);
  font-weight: 500;
  letter-spacing: -0.02em;
}
.container-review {
  padding-top: clamp(22px, 7vw, 53px);
  padding-bottom: clamp(50px, 7vw, 88px);
}
