.path-js {
    margin-top: clamp(47px, 7vw, 137px);

    &__title {
        grid-area: title;
        font-family: var(--font-main_1);
        font-size: clamp(34px, 5vw, 52px);
        line-height: clamp(37px, 5vw, 55px);
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    &__text {
        grid-area: text;
        margin-top: 3px;
        font-family: var(--font-main_1);
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: var(--color-main_2);

        @media (max-width: 800px) {
            margin-top: 11px;
        }
    }

    &__line {
        border-bottom: solid 2px #ECECF3;
        padding-bottom: clamp(50px, 6vw, 80px);

        @media (max-width: 800px) {
            display: none;
        }
    }
}

.container-path-js {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'path-js-books'
        'text'
    ;

    @media (max-width: 800px) {
        grid-template-areas:
            'title'
            'text'
            'path-js-books'
        ;
    }
}